<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login Tab
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form action="/action_page.php">
    <label for="fname">Username</label><br>
    <input type="text" id="fname" name="fname" value="John"><br>
    <label for="lname">Passowrd:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>
    <input type="submit" value="Login">
  </form> 

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
